langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_ollama
langchain_groq
pypdf2
faiss-cpu
langchain_chroma
langchain_huggingface
sentence-transformers
torchvision
unstructured
pdfminer
pdfplumber
arxiv
wikipedia
ipykernel
tiktoken
certifi
langchainhub
ddgs
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
pytube
yt_dlp
numexpr
huggingface_hub